# Secret keys / credentials
config/
.env

# Claude settings
.claude/

# Reddit subfolders to exclude
Reddit/raw/
Reddit/docs/
Reddit/data/

# Top-level folders to exclude
docs/
data/

# Exclude .pkl files everywhere
*.pkl

# Python clutter
__pycache__/
*.pyc
.ipynb_checkpoints/
*.stswp
Reddit/output/ProcessReddit/comments/comment_head.csv
Reddit/output/ProcessReddit/comments/RC_2005-12_column_summary.csv
Reddit/output/ProcessReddit/comments/RC_2005-12_top_subreddits_by_authors.csv
Reddit/output/ProcessReddit/comments/RC_2012-12_column_summary.csv
Reddit/output/ProcessReddit/comments/RC_2012-12_top_subreddits_by_authors.csv
.DS_Store